.text-wrapper {
    opacity: 0;
    transform: translateX(50vw);
    transform: translateY(-50%);
    transition: transform 1s ease-in-out,opacity 1.5s ease-in-out;
  }
  
  .text-wrapper.show {
    opacity: 1;
    transform: translate(-50%,-50%);
    
    
  }