.room-suite{
    background-image: url("../images/suite-background.jpg");
}
.amenities{
    background-image: url('../images/suite-background.jpg');

}
.double-bg{
    background-image: url('../images/amenities-bg.png');

}